{% extends 'base.html' %}
{% block title%}Agri Trading Zone -- Login{% endblock %}

{% block content %}
{% load staticfiles %}
{% load i18n %}
  <div class="container">
    <form class="form-signin" method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      {% if error %}
        <div class="alert alert-danger" role="alert">
                    {{ error }}
        </div>
      {% endif %}
      <!--<img class="mb-4" src="{% static 'img/logo.png' %}" alt="">-->
      <h1 class="h3 mb-3 font-weight-normal">{% trans "Login here" %}</h1>
      <label for="inputEmail" class="sr-only">{% trans "Email address" %}</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
    </form>
  </div>

{% endblock %}
